* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-color: hsl(185, 75%, 39%);
  background-position: calc((-50vw) + 70%) calc((-50vh) + 70%),
    calc((100% + 45vw) - 70%) calc((100% + 50vh) - 70%);
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125rem;
  color: hsl(0, 0%, 59%);
  text-align: center;
}

.card {
  width: 20rem;
  background: white;
  border-radius: 20px;
  padding-bottom: 1.8rem;
  overflow: hidden;
  box-shadow: 0 5px 20px 10px hsla(229, 23%, 23%, 0.1),
    0 5px 30px 20px hsla(229, 23%, 23%, 0.05);
}

.header {
  display: flex;
  justify-content: center;
  height: 150px;
  background-image: url(images/bg-pattern-card.svg);
  position: relative;

  & img {
    position: absolute;
    top: 60%;
    border: 5px solid white;
    border-radius: 100%;
  }
}

.about {
  margin: 4.2rem 0 0;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);

  & *:not(:last-child) {
    display: inline-block;
  }
}

.about__name,
.stats__number {
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.25px;
  color: hsl(229, 23%, 23%);
}

.about__age {
  margin-left: 0.2rem;
}

.about__city {
  margin-top: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0.25px;
}

.stats {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1.6rem;
}

.stats__label {
  margin-top: 0.2rem;
  font-size: 0.7rem;
  letter-spacing: 1.025px;
}

.attribution {
  position: fixed;
  bottom: 0;
  margin-bottom: 2rem;
  color: hsl(229, 23%, 23%);
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}
